# ---
# begin: .gitignore <- dia-project @ 2025-07-20T02:59:34
# ---

# NOTE: dia-project does not recognise this file 
# as a build product (and overwrites it without confirmation 
# if and only if no line matches: 
#   ^# [A-Za-z]+ <- dia-project @ \d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$

# ---

# Base

# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Icon[[]]

# Linux
.nfs*
*~

# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Logs and temporary files
*.bak
*.log
*.swo
*.swp
*.tmp
log{,s}/

# ---

__pycache__/
/.python-version
/.venv/
*.egg-info/
*.pyc
*.pyi

# ---

# ---
# end: .gitignore <- dia-project @ 2025-07-20T02:59:34
# ---
