{%- set cmt_map = {
    "flake8": ("# ", ""),
    "gitignore": ("# ", ""),
    "latexmkrc": ("# ", ""),
    "license": ("<!-- ", " -->"),
    "makefile": ("# ", ""),
    "markdownlint": ("# ", ""),
    "prettierrc": ("// ", ""),
    "pylintrc": ("# ", ""),
    "readme": ("<!-- ", " -->"),
} -%}

{%- set cmt_beg, cmt_end = cmt_map.get(type, ("# ", "")) -%}

{{ cmt_beg }}---{{ cmt_end }}
{{ cmt_beg }}begin: {{ filename }} <- dia-project @ {{ date }}{{ cmt_end }}
{{ cmt_beg }}---{{ cmt_end }}

{{ cmt_beg }}NOTE: dia-project does not recognise this file {{ cmt_end }}
{{ cmt_beg }}as a build product (and overwrites it without confirmation {{ cmt_end }}
{{ cmt_beg }}if and only if no line matches: {{ cmt_end }}
{{ cmt_beg }}  ^{{ cmt_beg }}[A-Za-z]+ <- dia-project @ \d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}{{ cmt_end }}${{ cmt_end }}
{% for content in contents %}
{{ cmt_beg }}---{{ cmt_end }}

{{ content }}
{%- endfor %}
{{ cmt_beg }}---{{ cmt_end }}

{{ cmt_beg }}---{{ cmt_end }}
{{ cmt_beg }}end: {{ filename }} <- dia-project @ {{ date }}{{ cmt_end }}
{{ cmt_beg }}---{{ cmt_end }}
