{%- set cmt_map = {
    "flake8": ("# ", ""),
    "gitignore": ("# ", ""),
    "latexmkrc": ("# ", ""),
    "license": ("<!-- ", " -->"),
    "makefile": ("# ", ""),
    "markdownlint": ("# ", ""),
    "prettierrc": ("// ", ""),
    "pylintrc": ("# ", ""),
    "readme": ("<!-- ", " -->"),
} -%}

{%- set cmt_beg, cmt_end = cmt_map.get(type, ("# ", "")) -%}
{% for content in contents %}
{{ content }}

{{ cmt_beg }}---{{ cmt_end }}
{%- endfor %}
